#root {
  text-align: center;
  --main-color: #ff7a00;
  --secondary-color: #229c53;

  --header-height: 7em;
}

header {
  position: fixed;
  background-color: var(--main-color);
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  top: 0;
  height: var(--header-height);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
nav ul li a:hover {
  color: var(--secondary-color);
  font-weight: 700;
  border-bottom: 2px solid var(--secondary-color);
}

main {
  width: auto;
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
  color: var(--secondary-color);
  height: auto;
}

article {
  margin-bottom: 20px;
}

article h2 {
  margin-top: 0;
}

footer {
  position: relative;
  bottom: 0;
  max-width: 100%;
  background-color: var(--main-color);
  color: #fff;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  /* #root {
    padding: 1rem;
  } */
}
